<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="summaryVue.css">
    <script src="https://kit.fontawesome.com/949f2266ba.js" crossorigin="anonymous"></script>
    <!--    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">-->
    <title>Summary</title>
</head>
<body>
<div class="container">

    <div class="burger-open burger-open_style">
        <i class="fas fa-bars   fa-3x"></i>
    </div>

    <div class="burger-menu burger-menu_style clause">

        <div class="burger-menu__burger-clause burger-menu__burger-clause_style">
            <i class="fas fa-times "></i>
        </div>

        <div class="burger-menu__burger-panel">
            <ul class="burger-menu__burger-items">
                <li class="burger-menu__burger-item burger-menu__burger-item_style"><a href="#"><i
                        class="fas fa-user-alt"></i>Summary</a></li>
                <li class="burger-menu__burger-item burger-menu__burger-item_style"><a href="#"><i
                        class="fas fa-angle-double-down"></i>Download summary</a></li>
            </ul>
        </div>
    </div>

    <div class="main-content">

        <div class="main-content__container">

            <div class="main-content__nav-buttons main-content__nav-buttons_style">
                <a href="#" class="main-content__item-button main-content__item-button_style"><i
                        class="fas fa-user-alt"></i>About</a>
                <div class="main-content__item-button_line"></div>
                <a href="#" class="main-content__item-button main-content__item-button_style"><i
                        class="fas fa-file-contract"></i>Resume</a>
                <div class="main-content__item-button_line"></div>
                <a href="#" class="main-content__item-button main-content__item-button_style"><i
                        class="fas fa-paint-brush"></i>Works</a>
                <div class="main-content__item-button_line"></div>
                <a href="#" class="main-content__item-button main-content__item-button_style"><i class="fas fa-at"></i>Contact</a>
            </div>

            <div class="main-content__profile-photo main-content__profile-photo_style">
                <div class="main-content__photo main-content__photo_style">
                    <svg width="113" height="67" viewBox="0 0 113 67" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 16.8011V66H111L1 1V16.8011Z" fill="#fffef6" stroke="white"/>
                    </svg>

                    <svg width="113" height="67" viewBox="0 0 113 67" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M112 16.8011V66H2L112 1V16.8011Z" fill="#fffef6" stroke="white"/>
                    </svg>

                </div>
                <div class="main-content__short-profile main-content__short-profile_style">
                    <p class="main-content__short-profile_name">Ira Matveichuk</p>
                    <p class="main-content__short-profile_profession">Front-End Developer</p>
                    <div class="main-content__short-contact main-content__short-contact_style">
                        <div class="main-content__short-contact-item"><a title="Telegram"
                                                                         href="tg://resolve?domain=dia130396"><i
                                class="fab fa-telegram-plane"></i></a>
                        </div>
                        <div class="main-content__short-contact-item"><a title="Viber"
                                                                         href="viber://chat?number=+375291606474"><i
                                class="fab fa-viber"></i></a></div>
                        <div class="main-content__short-contact-item"><a title="Vk" href="https://vk.com/id74865139"><i
                                class="fab fa-vk"></i></a></div>
                        <div class="main-content__short-contact-item"><a title="facebook"
                                                                         href="https://www.facebook.com/ira.matveichuk.1"><i
                                class="fab fa-facebook-f"></i></a>
                        </div>
                        <div class="main-content__short-contact-item"><a title="skype" href="skype:dia130396?call"><i
                                class="fab fa-skype"></i></a>
                        </div>
                        <div class="main-content__short-contact-item"><a title="email"
                                                                         href="mailto:dia130396@gmail.com"><i
                                class="far fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-content__tabs main-content__tabs_style">
                <!--                Tab1-->
                <div class="main-content__tab_title"><span>About</span> Me</div>
                <div class="main-content__tab_content">

                    <div class="main-content__item">
                        <p>Junior Front-End Developer.<br>I will help you make interactive
                            and responsive pages with cross-browser interface.<br>
                            In my work I use analytical skills, can work in a team</p>
                    </div>

                    <div class="main-content__item">
                        <div class="main-content__tab_subtitle"><i
                                class="fas fa-file-contract fa-1x"></i>KNOWLEDGE
                        </div>
                        <div class="main-content__item_skills">
                            <ul>
                                <li><i class="fas fa-check"></i>JavaScript</li>
                                <li><i class="fas fa-check"></i>jQuery</li>
                                <li><i class="fas fa-check"></i>Ajax</li>
                                <li><i class="fas fa-check"></i>HTML5</li>
                                <li><i class="fas fa-check"></i>CSS3</li>
                                <li><i class="fas fa-check"></i>Preprocessors</li>
                                <li><i class="fas fa-check"></i>Bootstrap</li>
                                <li><i class="fas fa-check"></i>Node.js Express</li>
                                <li><i class="fas fa-check"></i>MySQL</li>
                            </ul>
                        </div>
                    </div>

                    <!--Tab2-->
                    <!--                    <div class="main-content__tab_title"><span>R</span>esume</div>-->
                    <div class="main-content__item">
                        <div class="main-content__tab_subtitle"><i class="fas fa-briefcase"></i>EXPERIENCE</div>
                        <ul>
                            <li><span class="main-content__item_color-gray">Tester (functional testing)</span>
                                <br>"Infobank"
                                <br> March 2017 – June 2019
                            </li>
                            <li><span class="main-content__item_color-gray">Technician</span>
                                <br>"BELARUSBANK"
                                <br>September 2014 – October 2016
                            </li>
                        </ul>
                    </div>

                    <div class="main-content__item">
                        <div class="main-content__tab_subtitle"><i class="fas fa-graduation-cap"></i>EDUCATION</div>
                        <ul>
                            <li><span class="main-content__item_color-gray">"Aducar"</span>
                                <br>Web development course (Frontend)
                            </li>
                            <li><span class="main-content__item_color-gray">BSUIR</span>
                                <br>Faculty of computer technology, software engineer
                            </li>
                            <li><span class="main-content__item_color-gray">MREC</span>
                                <br>Information technology software
                            </li>
                        </ul>
                    </div>


                    <div class="main-content__item">
                        <div class="main-content__tab_subtitle"><i class="fas fa-flag"></i>LANGUAGES</div>
                        <ul>
                            <li><span class="main-content__item_color-gray">English</span>
                                <br>Pre-Intermediate
                            </li>
                        </ul>
                    </div>


                    <!--Tab3-->
                    <!--                    <div class="main-content__tab_title"><span>Recent</span> Works</div>-->
                    <div class="main-content__item">
                        <div class="main-content__tab_subtitle">API Canvas</div>
                        <a class="main-content__item_img-project"
                           href="https://github.com/Ira-drozd/API-Canvas.git"><img
                                src="https://sun9-15.userapi.com/_HNCvMap0e1lmaa03-IdVlPxW-p78Z2HDNAldw/z-fJZVdNqcQ.jpg"
                                alt="API Canvas"></a>
                        <p><span class="main-content__item_color-gray">Description:</span>
                            <br>Web application for drawing using Canva and OOP JS.</p>
                    </div>

                    <div class="main-content__item">
                        <div class="main-content__tab_subtitle">Site layout</div>
                        <a class="main-content__item_img-project" href="https://github.com/Ira-drozd/worldwildlife.git"><img
                                src="https://sun9-9.userapi.com/sGIUChudZevwWeiC_z_tWRSkhWqMTBgRCLXnPw/KKsAn-dx49M.jpg"
                                alt="Site layout"></a>
                        <p><span class="main-content__item_color-gray">Description:</span>
                            <br>Layout of the worldwildlife.org website using HTML5, CSS3, SCSS, JS.</p>
                    </div>

                    <div class="main-content__item">
                        <div class="main-content__tab_subtitle">Puzzle</div>
                        <a class="main-content__item_img-project"
                           href="https://github.com/Ira-drozd/Puzzle-drag-drop"><img
                                src="https://sun9-7.userapi.com/OIFeBv-OY92Bjgapp05oMu6ptPuWPCl15uvnaQ/U3HVXO55Lbs.jpg"
                                alt="Puzzle"></a>
                        <p><span class="main-content__item_color-gray">Description:</span>
                            <br> Puzzle using jQuery and Drag & Drop.</p>
                    </div>

                    <div class="main-content__item">
                        <div class="main-content__tab_subtitle">Form validator</div>
                        <a class="main-content__item_img-project"
                           href="https://github.com/Ira-drozd/Form-Validator.git"><img
                                src="https://sun9-70.userapi.com/YI_6SftI2nhd2eF1VGAcOk0P5lM4SDm21AmONg/piuhGPkYpds.jpg"
                                alt="Form validator"></a>
                        <p><span class="main-content__item_color-gray">Description:</span>
                            <br> Form validation using Ajax and Node Express.</p>
                    </div>

                    <!--Tab4-->
                    <!--                    <div class="main-content__tab_title"><span>Get</span> in Touch</div>-->
                    <div class="main-content__item">
                        <div class="main-content__tab_title-contact"><span>Address . . . . .</span></div>
                        <p>Belarus, Minsk</p>
                    </div>

                    <div class="main-content__item">
                        <div class="main-content__tab_title-contact"><span>Phone . . . . .</span></div>
                        <p><a href="tel:+375291606474">+375 29 160 64 74</a></p>
                    </div>

                    <div class="main-content__item">
                        <div class="main-content__tab_title-contact"><span>Email . . . . .</span></div>
                        <p><a href="mailto:dia130396@gmail.com">dia130396@gmail.com</a></p>
                    </div>

                    <div class="main-content__item">
                        <div class="main-content__tab_title-contact"><span>Freelance . . . . .</span></div>
                        <p>Available</p>
                    </div>

                    <div class="main-content__item main-content__item_full-flex">
                        <div class="main-content__tab_title"><span>Contact</span> Form</div>
                        <form action="post" name="contact-form" class="main-content__item_formstyle">
                            <div class="main-content__name-form">
                                <input type="text" name="full-name" placeholder="Full name"></input>
                                <input type="email" name="email" placeholder="Email Adress"></input>
                            </div>
                            <div class="main-content__message-form">
                                <textarea rows="5" name="message" placeholder="Your Message"></textarea>
                            </div>
                            <button>SEND MESSAGE <i class="fas fa-chevron-right"></i></button>
                        </form>
                    </div>


                </div>
            </div>

        </div>

    </div>

</div>
</body>
</html>