$main-color: #b4bad2;
$main-gray: rgba(55, 58, 71, 0.47);
$main-gray-dark: rgba(55, 58, 71, 1);
$dark-white: #bdc3c7;
$main-red: #c94e50;
$gray-gradient: linear-gradient(90deg, rgba(255, 255, 255, 1) 2%, rgba(218, 218, 221, 1) 51%, rgba(55, 58, 71, 0.5158438375350141) 100%);
$gray-gradient-title: linear-gradient(90deg, rgba(55, 58, 71, 0.48783263305322133) 0%, rgba(218, 218, 221, 0.01) 71%, rgba(225, 225, 225, 0.01) 98%);
$gray-gradient-subtitle: linear-gradient(90deg, rgba(218, 218, 221, 0.01) 0%, rgba(55, 58, 71, 0.48783263305322133) 50%, rgba(218, 218, 221, 1) 98%);
$main-white: #fffef6;
$text-tabs: #646464;